html,body,div,ul,li,span,img,p,input{margin: 0; padding: 0;}
ul,li{list-style: none;}
.fix_box{
	position: fixed;
	background-color: #fff;
	left: 0;
	right: 0;
	z-index: 99;
}
.fix_box>div:nth-child(1){
	height: 41px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #ddd;
}
.fix_box>div:nth-child(1) span{
	font-size: 20px;
}
.fix_box>div:nth-child(1) div{
	position: relative;
}
.fix_box>div:nth-child(1) div span{
	position: absolute;
	left: 8px;
	top: 2px;
	color: #ddd;
}
.fix_box>div:nth-child(1) input{
	width: 240px;
	height: 26px;
	border-radius: 30px;
	border: 1px solid #ddd;
	font-size: 14px;
	padding-left: 28px;
	box-sizing: border-box;
}

/*选项卡切换S*/
.fix_box>div:nth-child(2){
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 15px;
	color: #666;
	font-weight: bold;
}
.fix_box>div:nth-child(2) p{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #fff;
}
.fix_box>div:nth-child(2) .active_btn{
	color: #FFA4BE;
	border-bottom: 2px solid #FF6692;
}
/*选项卡切换E*/

/*选项内容S*/
.content_box{
	padding-top: 81px;
}
.content_box>div{
	min-height: 1600px;
	display: none;
}
.content_box>div:nth-child(1){
	background-color: red;
}
.content_box>div:nth-child(2){
	background-color: yellow;
}
.content_box>div:nth-child(3){
	background-color: lightblue;
}
.content_box>div:nth-child(4){
	background-color: #FFDAD7;
}
.content_box .active{
	display: block;
}
/*选项内容E*/

/*购全球S*/
.imgBg{
	width: 100%;
	height: 444px;
	background: url("https://image.watsons.com.cn//upload/3c150224.jpg") no-repeat;
	background-size: 100% 100%;
}
.product_list{
	padding: 0 5px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.product_list li{
	width: 32%;
	height: 186px;
	padding: 3px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	background: #fff;
	margin-bottom: 5px;
}
.product_list li>div:nth-child(1){
	width: 100%;
	height: 114px;
}
.product_list li>div:nth-child(1) img{
	width: 100%;
	height: 100%;
}
.product_list li>div:nth-child(2){
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 12px;
	color: #333;
	flex: 1;
}
.product_list li>div:nth-child(2) p:nth-child(1){
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.product_list li>div:nth-child(2) p:nth-child(2){
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.product_list li>div:nth-child(2) p:nth-child(2) span:nth-child(1){
	font-size: 14px;
	color: #FF1F32;
}
.product_list li>div:nth-child(2) p:nth-child(2) span:nth-child(1) del{
	color: #666;
	font-size: 12px;
	margin-left: 8px;
}
.product_list li>div:nth-child(2) p:nth-child(2) span:nth-child(2){
	display: inline-block;
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 25px;
	color: #fff;
	background: #FF1F32;
	border-radius: 50%;
	font-size: 13px;
}
.product_list li>p{
	font-size: 12px;
	background: #FF1F32;
	color: #fff;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-left: 3px;
	position: absolute;
	top: 50%;
	left: 0;
}
/*购全球E*/

/*轮播图S*/
.banner{
	position: relative;
}
.banner img{
	width: 100%;
	height: 100%;
}
.img_box{
	height: 150px;
}
.img_box img{
	display: none;
}

/*图片激活样式*/
.img_box .active{
	display: block;
}
/*切换的按钮*/
.span_box{
	width: 80px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -40px;
	bottom: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.span_box span{
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: 2px solid #ccc;
	background-color: rgba(0,0,0,.4);
}
.span_box .active_btn{
	background-color: rgba(255,255,255,.8);
}
/*轮播图E*/